<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="container">
            <a href="/" class="navbar-brand">Task Manager</a>

            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Tasks</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-between">
                    <li class="nav-item">
                        <a href="/create" class="nav-link">Create Task</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  <!-- navigation ends -->

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="display-3 text-secondary">Create New Tasks</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-2">
                <div class="card">
                    <div class="card-body">
                        <form action="/newTask" method="post" autocomplete="off">
                            <div class="from-group mt-2">
                                <label for="title">Title</label>
                                <input type="text" name="title" id="title" class="form-control" required>
                            </div>
                            <div class="form-group mt-2">
                                <label for="content">content</label>
                                <textarea name="content" id="content" cols="30" rows="10" class="form-control" required>
                                </textarea>
                            </div>

                            <div class="form-group mt-2">
                                <label for="start">Start Date</label>
                                <input type="datetime-local" name="Start" id="Start" class="form-control" required>
                            </div>

                            <div class="form-group mt-2">
                                <label for="start">End Date</label>
                                <input type="datetime-local" name="end" id="end" class="form-control" required>
                            </div>
                      
                            <div class="form-group mt-2">
                                <input type="submit" value="Create Task" class="btn btn-success">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>